body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', arial;
  }
  
  .container { 
    display: flex;
    flex-direction: column;
  }
  
  /* Navigation Menu */

  .navMenu {
    display: flex;
    color: #F9FAF8;
    background-color: #1f2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
  }

  .headLogo {
    margin-right: auto;
  }
  
  .headLinks {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
 
  }

  .headLinks a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
  }
  
  /* .mainPage */

  .mainPage {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
  }
  
  .menuA {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
  }

  h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
  }

  .menuA p {
    opacity: 0.7;
  }

  .menuA .buttonTop {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  .menuB img {
    width: 500px;
    height: 350px;
  }

    /*second part*/

  .secondPart {
    align-items: center;
  }

  h2 {
    margin-top: 75px;
  }

  .photo-grid {
    display: flex;
    justify-content: space-around;
    margin: 150px;
  }
  
  .photo-grid img {
    width: 150px;
    height: 150px;
    object-fit: fill;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
  }

  .photo-grid p {
    text-align: center;
  }

  .thirdPart {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
  }

  .thirdPart p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
  }

  .thirdPart b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
  }

  .lastPart {
    background-color: #3882F6 ;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
  }

  .last-part {
    flex: 1;
  }

  .lastBottom {
    text-align: left;
  }

  h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
  }

  .lastBottom p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
  }

  .bottomButton {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
  }


  .bottomHeader {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
  }

  .copyright {
    margin: 25px;
  }